<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title>PLANet dataset query_show page</title>
</head>
<frameset cols="50%,50%">
  <frame src="/final_table/{{target_chembl_id}}/{{pdbid}}.html">
  <frame src="/view/{{target_chembl_id}}/{{pdbid}}.html">
</frameset>
</html>